/*[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 80px;
    margin-left: 0px;
    color: #333;
}*/

.flaticonCategorias:before{
    font-size: 80px;
    margin-left: 0px;
    color: #333;
}